In [1]:
import requests
import pandas as pd
import numpy as np

In [2]:
dset = pd.read_csv('stocks.csv')
dset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  300 non-null    object
 1   open       300 non-null    float64
 2   high       300 non-null    float64
 3   low        300 non-null    float64
 4   close      300 non-null    float64
 5   volume     300 non-null    float64
dtypes: float64(5), object(1)
memory usage: 14.2+ KB

In [3]:
data = dset[['timestamp','close']]
data.tail()

      timestamp     close
295  2023-09-07  24555.27
296  2023-09-06  24018.28
297  2023-09-05  24042.74
298  2023-09-04  23916.17
299  2023-09-03  24099.26

In [4]:


forecast_data = data.rename(columns = {"timestamp": "ds",
                                       "close": "y"})
print(data.head())

    timestamp     close
0  2024-06-28  57466.48
1  2024-06-27  57545.90
2  2024-06-26  56935.04
3  2024-06-25  57713.87
4  2024-06-24  56171.92

In [5]:


from prophet import Prophet
from prophet.plot import plot_plotly, plot_components_plotly
model = Prophet()
model.fit(forecast_data)
forecasts = model.make_future_dataframe(periods = 10)
predictions = model.predict(forecasts)
a = predictions['trend']

08:17:34 - cmdstanpy - INFO - Chain [1] start processing
08:17:34 - cmdstanpy - INFO - Chain [1] done processing

In [6]:
for i in range(300,310):
        print(a[i])

60751.31640593916
60738.513556728474
60725.7107075178
60712.90785830712
60700.10500909645
60687.30215988577
60674.49931067509
60661.69646146441
60648.893612253734
60636.09076304305

In [7]:
a[229]

61827.30510276395

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  300 non-null    object
 1   close      300 non-null    float64
dtypes: float64(1), object(1)
memory usage: 4.8+ KB

In [9]:
data.head()

    timestamp     close
0  2024-06-28  57466.48
1  2024-06-27  57545.90
2  2024-06-26  56935.04
3  2024-06-25  57713.87
4  2024-06-24  56171.92

In [10]:
predictions.head()

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,2023-09-03,22305.099823,19270.388882,25320.979387,22305.099823,22305.099823,-59.962218,-59.962218,-59.962218,-59.962218,-59.962218,-59.962218,0.0,0.0,0.0,22245.137604
1,2023-09-04,22461.599873,19628.378573,25817.175930,22461.599873,22461.599873,363.005240,363.005240,363.005240,363.005240,363.005240,363.005240,0.0,0.0,0.0,22824.605113
2,2023-09-05,22618.099924,19096.529028,25372.577283,22618.099924,22618.099924,-168.432994,-168.432994,-168.432994,-168.432994,-168.432994,-168.432994,0.0,0.0,0.0,22449.666929
3,2023-09-06,22774.599974,19920.488621,26135.416078,22774.599974,22774.599974,144.489591,144.489591,144.489591,144.489591,144.489591,144.489591,0.0,0.0,0.0,22919.089565
4,2023-09-07,22931.100024,20133.091114,26068.190393,22931.100024,22931.100024,25.894036,25.894036,25.894036,25.894036,25.894036,25.894036,0.0,0.0,0.0,22956.994060

In [11]:
predictions.tail(10)

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
300,2024-06-29,60751.316406,57363.287166,63548.606175,60751.316406,60751.316406,-184.014643,-184.014643,-184.014643,-184.014643,-184.014643,-184.014643,0.0,0.0,0.0,60567.301763
301,2024-06-30,60738.513557,57437.663885,63877.657798,60738.513557,60738.513557,-59.962218,-59.962218,-59.962218,-59.962218,-59.962218,-59.962218,0.0,0.0,0.0,60678.551338
302,2024-07-01,60725.710708,57968.957885,64014.114088,60717.089117,60729.494356,363.005240,363.005240,363.005240,363.005240,363.005240,363.005240,0.0,0.0,0.0,61088.715948
303,2024-07-02,60712.907858,57577.490127,63600.331539,60686.574754,60730.864389,-168.432994,-168.432994,-168.432994,-168.432994,-168.432994,-168.432994,0.0,0.0,0.0,60544.474864
304,2024-07-03,60700.105009,57877.460049,63929.038628,60643.904429,60741.489322,144.489591,144.489591,144.489591,144.489591,144.489591,144.489591,0.0,0.0,0.0,60844.594600
305,2024-07-04,60687.302160,57761.544848,63890.154763,60597.002292,60757.443210,25.894036,25.894036,25.894036,25.894036,25.894036,25.894036,0.0,0.0,0.0,60713.196195
306,2024-07-05,60674.499311,57316.931668,63614.856466,60549.109692,60780.438765,-120.979011,-120.979011,-120.979011,-120.979011,-120.979011,-120.979011,0.0,0.0,0.0,60553.520299
307,2024-07-06,60661.696461,57283.342391,63679.754517,60503.851113,60802.670058,-184.014643,-184.014643,-184.014643,-184.014643,-184.014643,-184.014643,0.0,0.0,0.0,60477.681819
308,2024-07-07,60648.893612,57592.878789,63713.980039,60452.153265,60826.395609,-59.962218,-59.962218,-59.962218,-59.962218,-59.962218,-59.962218,0.0,0.0,0.0,60588.931394
309,2024-07-08,60636.090763,58038.263170,64076.188922,60392.742112,60857.462504,363.005240,363.005240,363.005240,363.005240,363.005240,363.005240,0.0,0.0,0.0,60999.096003

In [12]:
t = forecast_data['y']
today = t[0]
sum = 0 
for i in range(300,310):
    sum = sum + a[i]
rre = sum/10
(rre-today)/100

32.27223584491097

In [13]:
rre

60693.7035844911

In [15]:
today

57466.48